<% user_id = current_user.id if user_id.nil? %>

<% if message.user.id == user_id %>
    <div class="msg me">
      <span class="me"><%= message.msg %></span>
    </div>
<% else %>
  <div class="msg it">
    <span class="it"><%= message.msg %></span>
  </div>
<% end %>
