<% if message.user == current_user%>

  <p class="msg me">
    <strong><%= message.user.full_name %>:</strong>
    <%= message.msg %>
  </p>
<% else %>

  <p class="msg it">
    <strong><%= message.user.full_name %>:</strong>
    <%= message.msg %>
  </p>

<% end %>
