<div class="row col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="messages">
    </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= current_user.username %> talking to <%= User.find(@conversation.user2_id).username || User.find(@conversation.user1_id).username%></h1>

      <div class="panel panel-default">
        <% if @conversation.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'messages/message', collection: @conversation.messages %>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'messages/message_form', locals: {message: @message, conversation: @conversation}%>
    </div>
  </div>
</div>
