<div class="logo">
  <div class="box fade-in one">
    <%= image_tag "wizardlogo.png", class: "bandwizardlogo" %>
  </div>
  <div class="box fade-in two">
    <h1 class="bandwizardtitle"><span>Band</span>Wizard</h1>
    <h4 class="bandwizardslogan">Musicians like me, near me.</h4>
    <div class="findbutton">
      <button class="searchbutton" type="submit"> <%= link_to "FIND A MUSICIAN", search_path(choice:1), class: 'link-to-text-color'%></button>
    </div>

    <div class="findbutton">
      <button class="searchbutton" type="submit"> <%= link_to "FIND A BAND", search_path(choice:2), class: 'link-to-text-color'%></button>
    </div>
  </div>
</div>
