<img src="../../assets/images/wizardlogo.png">
<button type="submit"> <%= link_to "search musician", search_path(choice:1)%></button>
<button type="submit"> <%= link_to "search band", search_path(choice:2)%></button>
