<% if result.class == Band %>
<% #raise %>
  <%= cl_image_tag result.band_photos.first.photo, alt: "alttext", width: '100%' %>
  <p><%= result.name %></p>
  <p><%= result.address %></p>
<% else %>
  <p><% result.name %></p>
<% end %>
