<% filter = params[:filter].to_i %>

<% if filter == 1 %>
 <!-- searching for musician -->
  <form action="/bands" method="get">
     <div class="slidecontainer">
            <input type="range" min="1" max="3" value="2" class="slider" id="slide">
          </div>
    <input type="text" name="experience" placeholder="experience" id="range">
  </form>

  <% else %>
  <!-- searching for band -->
  <br>

  <form action="/bands" method="get">
    <p>Level of Experience</p>
      <div class="slidecontainer">
        <input type="range" min="1" max="3" value="2" class="slider" id="slide">
      </div>

        <input type="text" name="experience" placeholder="experience" id="range">

      <br>
      <br>
      <br>

      <p>You are Open To</p>



    <div class="all-filters">

      <div class="filter-input">
        <label class="stylebutton">
          <input type="checkbox" name="is_jamming" value="true"/>
            Jamming
        </label>
      </div>
      <div class="filter-input">
        <label class="stylebutton">
          <input type="checkbox" name="is_live" value="true"/>
            Live Performance
        </label>
      </div>
      <div class="filter-input">
        <label class="stylebutton">
          <input type="checkbox" name="is_composition" value="true"/>
            Music Composition
        </label>
      </div>
      <div class="filter-input">
      <label class="stylebutton">
          <input type="checkbox" name="is_recording" value="true"/>
            Recording
        </label>
      </div>
      <div class="filter-input">
        <label class="stylebutton">
          <input type="checkbox" name="is_cover" value="true"/>
            Covers
        </label>
      </div>
    </div>

    <button class="searchbutton type="submit"> Find a band</button>
  </form>
<% end %>

<script>
let slider = document.getElementById("slide");
let output = document.getElementById("range");
// Display the default slider value
output.value = "Intermediate";

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  // output.value = this.value;
  if (slider.value == 1) {
output.value = "Amateur"; // Display the default slider value
}

else if (slider.value == 2) {
output.value = "Intermediate";

} else {

output.value = "Advanced";

}
}

</script>
