<form action="/bands" method="get">
  <input type="text" name="instrument" placeholder="Instrument">
  <input type="text" name="style" placeholder="Style">
  <input type="text" name="address" placeholder="Address">
  <button type="submit"> confirm</button>
</form>



