
<% choice = params[:choice].to_i %>

<% if choice == 1 %>
 <!-- searching for musician -->
 <div class="container">
  <div class="row">
    <div class="col-6 offset-3">
       <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What sound is missing in your band?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Piano</option>
              <option>voice</option>
            </select>
          </div>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="1"/>
            Afro
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="2"/>
            Blues
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="3"/>
            Country
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="4"/>
            Electronic
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="5"/>
            Flamenco
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="6"/>
            Folk
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="7"/>
            Hip Hop
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="8"/>
            Jazz
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="9"/>
            Latin
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="10"/>
            Pop
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="11"/>
            R&B
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="12"/>
            Soul
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="13"/>
            Rock
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="14"/>
            Heavy Metal
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style" value="15"/>
            Punk
          </label>
          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <input type="text" name="slider" placeholder="distance (km)">
          <input type="hidden" name="choice" value=1>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <button class="searchbutton" type="submit">SEARCH</button>
        </form>
      </div>
    </div>
  </div>
</div>


<% else %>
<!-- searching for band -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What instrument do you play?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Piano</option>
              <option>voice</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlSelect1">What style do you looking for ?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="styles">
              <option>Jazz</option>
              <option>Pop</option>
              <option>Blues</option>
              <option>Rock</option>
              <option>Flamenco</option>
            </select>
          </div>
          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <input type="text" name="slider" placeholder="km">
          <input type="hidden" name="choice" value=2>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <br>
          <button class="searchbutton" type="submit">SEARCH</button>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const inputButton = document.querySelector('#current-position')
  const inputForAddress = document.querySelector('#address')

  inputButton.addEventListener('click', e => {
    if (e.target.checked) {
      // const currentPosition = new Map
      let string = ''
      const location = navigator.geolocation.getCurrentPosition( e => {
        const latitude = e.coords.latitude
        const longitude = e.coords.longitude
        inputForAddress.value = `${latitude.toString()}, ${longitude.toString()}`
        // currentPosition.set('lat', latitude)
        // currentPosition.set('long', longitude)
      });

      // console.log(string)
      // const secret = ...
      // const url = ...
      // fetch(url)
      // .then(response.json())
      // .then(console.log(data // insert address into dom w/ query select)

    }

  })

</script>
