<% choice = params[:choice].to_i %>

<% if choice == 1 %>
 <!-- searching for musician -->
 <div class="container">
  <div class="row">
    <div class="col-6 offset-3">
       <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What sound is missing in your band?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Synthesizer</option>
              <option>Piano</option>
              <option>voice</option>
              <option>Saxophone</option>
              <option>Violin</option>
            </select>
          </div>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Afro"/>
            Afro
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Blues"/>
            Blues
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Country"/>
            Country
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Electronic"/>
            Electronic
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Flamenco"/>
            Flamenco
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Folk"/>
            Folk
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Hip Hop"/>
            Hip Hop
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Jazz"/>
            Jazz
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Latin"/>
            Latin
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Pop"/>
            Pop
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="R&B"/>
            R&B
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Soul"/>
            Soul
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value=" Rock"/>
            Rock
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Heavy Metal"/>
            Heavy Metal
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Punk"/>
            Punk
          </label>

          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <input type="text" name="slider" placeholder="distance (km)">
          <input type="hidden" name="choice" value=1>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <input type="hidden" name = "address" id="position">
      </div>
    </div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A MUSICIAN</button>
    </form>
  </div>
</div>
<br>


<% else %>
<!-- searching for band -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What instrument do you play?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Piano</option>
              <option>voice</option>
            </select>
          </div>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Afro"/>
            Afro
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Blues"/>
            Blues
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Country"/>
            Country
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Electronic"/>
            Electronic
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Flamenco"/>
            Flamenco
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Folk"/>
            Folk
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Hip Hop"/>
            Hip Hop
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Jazz"/>
            Jazz
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Latin"/>
            Latin
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Pop"/>
            Pop
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="R&B"/>
            R&B
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Soul"/>
            Soul
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value=" Rock"/>
            Rock
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Heavy Metal"/>
            Heavy Metal
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="style[]" value="Punk"/>
            Punk
          </label>
          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <input type="text" name="slider" placeholder="km">
          <input type="hidden" name="choice" value=2>
          <br>
          <div>
          <label for="current_position">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <br>
          <input type="hidden" name = "address" id="position">
      </div>
    </div>
    <button class="searchbutton link-to-text-color findbutton" type="submit">FIND A BAND</button>
    </form>
    <% end %>
  </div>
</div>
<br>


<script>

  const inputButton = document.querySelector('#current-position')
  const inputForAddress = document.querySelector('#position')

  inputButton.addEventListener('click', e => {
    if (e.target.checked) {
      // const currentPosition = new Map
      let string = ''
      const location = navigator.geolocation.getCurrentPosition( e => {
        document.getElementById("address").disabled = true;
        const latitude = e.coords.latitude
        const longitude = e.coords.longitude
        coordinates = `${latitude.toString()}, ${longitude.toString()}`
        inputForAddress.value = `${coordinates}`

        // console.log(coordinates)
        // inputForAddress.value = http.get(`https://api.mapbox.com/geocoding/v5/mapbox.places/${coordinates}.json?`)
  //        request = `https://api.mapbox.com/geocoding/v5/mapbox.places/${coordinates}.json?types=poi&access_token=pk.eyJ1IjoiY2lsYTIwMTkiLCJhIjoiY2swMHhmYXFiMmRrbjNlbWp2Z203bXNpYyJ9.N9bwcX-DoRRQBNXf_DgKoQ`
  //        request2 = `https://places-dsn.algolia.net/1/places/query --data {"aroundLatLng": "${coordinates}"}`

  //        request3= `http://open.mapquestapi.com/geocoding/v1/reverse?key=KWgRE98qTTA0EAjYTOcPWVhVuRDQgnjF&location=${coordinates}&includeRoadMetadata=true&includeNearestIntersection=true`
  //       // currentPosition.set('lat', latitude)
  //       // currentPosition.set('long', longitude)
  //       fetch(request3)
  // .then(response => response.json())
  // .then((data) => {
  //   console.log(data);
  // });

        // inputForAddress.value = http.get(request)
      });

      // console.log(string)
      // const secret = ...
      // const url = ...
      // fetch(url)
      // .then(response.json())
      // .then(console.log(data // insert address into dom w/ query select)

    }

  })

</script>
