
<% choice = params[:choice].to_i %>

<% if choice == 1 %>
 <!-- searching for musician -->
 <div class="container">
  <div class="row">
    <div class="col-6 offset-3">
       <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What sound is missing in your band?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Synthesizer</option>
              <option>Piano</option>
              <option>voice</option>
            </select>
          </div>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Afro"/>
            Afro
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Blues"/>
            Blues
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Country"/>
            Country
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Electronic"/>
            Electronic
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Flamenco"/>
            Flamenco
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Folk"/>
            Folk
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Hip Hop"/>
            Hip Hop
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Jazz"/>
            Jazz
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Latin"/>
            Latin
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Pop"/>
            Pop
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="R&B"/>
            R&B
          </label>
          <br>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Soul"/>
            Soul
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value=" Rock"/>
            Rock
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Heavy Metal"/>
            Heavy Metal
          </label>
          <label class="stylebutton">
            <input type="checkbox" name="styles" value="Punk"/>
            Punk
          </label>
          <br>
          <input type="text" name="address" placeholder="Address" id="address">
          <br>
          <input type="text" name="slider" placeholder="distance (km)">
          <input type="hidden" name="choice" value=1>
          <div>
          <label for="current_positionc">use my current position</label>
          <input type="checkbox" name="current_position" id="current-position">
          </div>
          <button class="searchbutton" type="submit">SEARCH</button>
        </form>
      </div>
    </div>
  </div>
</div>


<% else %>
<!-- searching for band -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="searchform">
        <form action="/bands" method="get">
          <div class="form-group">
            <label for="exampleFormControlSelect1">What instrument do you play?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="instruments">
              <option>Guitar</option>
              <option>Bass</option>
              <option>Drum</option>
              <option>Piano</option>
              <option>voice</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlSelect1">What style do you looking for ?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="styles">
              <option>Jazz</option>
              <option>Pop</option>
              <option>Blues</option>
              <option>Rock</option>
              <option>Flamenco</option>
            </select>
          </div>
          <br>
          <input type="text" name="address" placeholder="Address">
          <br>
          <input type="text" name="slider" placeholder="km">
          <input type="hidden" name="choice" value=2>
          <br>
          <button class="searchbutton" type="submit">SEARCH</button>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const inputButton = document.querySelector('#current-position')
  const inputForAddress = document.querySelector('#address')

  inputButton.addEventListener('click', e => {
    if (e.target.checked) {
      // const currentPosition = new Map
      let string = ''
      const location = navigator.geolocation.getCurrentPosition( e => {
        const latitude = e.coords.latitude
        const longitude = e.coords.longitude
        inputForAddress.value = `${latitude.toString()}, ${longitude.toString()}`
        // currentPosition.set('lat', latitude)
        // currentPosition.set('long', longitude)
      });
      console.log(string)
    }
  })


</script>
