.bandimage {
  // margin-top: 40px;
  max-height: 50vh;
  color: white;
  text-align: center;
}

.slideImage img {
  height: 40vh;
}

.mybands {
  margin-top: -30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.titleband {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 84px;
  background-color: white;
  text-align: left;
  color: black;
  font-weight: bold;
  h5 {
    bottom: 224px;
    position: absolute;
  }
}

.bandname h3{
  font-weight: bold;
  height: 100%;
  font-family: 'Roboto';
  font-size: 24px;
  margin-top:5px;
}

.bandname h5{
  font-family: 'Roboto';
  color: black;
}

.flex-thing {
  display: flex;
  justify-content: space-between;
}

.flex-thing h4 {
  position: relative;
  bottom: 392px;
  font-size: 20px;
  z-index: 500000000000;
  color: white;
}



.bio {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px 100px 10px 100px;
}

.biop {
  padding-left: 10px;
  padding-right: 20px;

}

.bio:focus {
  background-color: #745DC6;
  color: white;
}

.details {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px 100px 10px 100px;
  margin-bottom: 20px;
}
.details:focus {
  background-color: #745DC6;
  color: white;
}

.styleheader {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 30px;
}

.bandstyle {
  background-color: #4EBC87;
  color: #fff;
  border-radius: 12px;
  padding: 6px 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.soundcloudimg:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.youtubeimg {
  border-radius: 5px;
}.youtubeimg:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.webbtn {
  border-radius: 5px;
}.webbtn:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.fa-globe {
  font-size: 24px;
  padding-right: 10px;
}

.website {
  color: red;
  text-decoration: none;
}


// Manager title with button

// .manager {
//   padding: 3px 12px;
//   border-radius: 30px;
//   background-color: #D9D9D9;
//   color: #fff;
// }.manager:hover {
//   background-color: #624AB6;
//   color: #fff;
//   text-decoration: none;
// }


// Tabs for Bio and Details

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  background-color: rgba(242, 242, 242, 0.75);
  height: 100%;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    // background-color: red;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 2px solid #745DC6; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border: 5px solid #745DC6; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
