
.card-band {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  height: 320px;
  position: relative;

}

.star {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  top: 2%;
  right: 4%;
  border-radius: 20%;

}
.card-band p {
  color: black;
}

.margin {
  padding: 0px 24px;
}

.column {
  width: 50%;
  padding: 3% 3% 5% 3%;
}

.bandphoto {
  width: 90%;
  padding: 3px;
  height: 20vh;
  object-fit: cover;
  border-radius: 12px;
}


.card-band-infos {
  padding: 0px 8px 8px 8px;
  // color: black;
}


/*
.card-band img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-band h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-band p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-band .card-band-infos {
  padding: 16px;
}
*/
