.card-band {
  overflow: hidden;
  height: 500px;
  width: 50%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-band img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-band h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-band p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-band .card-band-infos {
  padding: 16px;
}
