.messagesection.h1 {
  color: white;
}

.conversation a {
/*    color: #441a39;*/
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: #4FB986
}
