.card-container {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: inline;*/

  // justify-content: space-between;
  background-color: red;
}

.card-container > div {
  flex: 0 50%;
  /*demo*/
  border: red solid;
  box-sizing:border-box
}
