.card-container {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: inline;*/

  // justify-content: space-between;

}

.card-container > div {
  flex: 0 50%;
  /*demo*/
  box-sizing:border-box
}
