@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  background: rgb(67,20,28);
  background: linear-gradient(160deg, rgba(67,20,28,1) 0%, rgba(70,39,108,1) 100%);
  background-repeat: no-repeat;
}

html {
  height: 100%;
}

.navbar {
  background-color: transparent;
}

// <!-- Homepage elements -->
.bandwizardtitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: white;

}

.bandwizardtitle span {
  font-weight: bold;
}

.bandwizardslogan {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding-bottom: 100px;
}

.link-to-text-color{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.link-to-text-color:hover {
  text-decoration: none;
  color: #46276C;
}

.searchbutton {
  background-color: #4EBC87;
  padding: 15px 32px;
  border-radius: 4px;
  margin: 17px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.findbutton {
  text-align: center;
}
