@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  /*background: rgb(67,20,28);*/
  background: linear-gradient(160deg, rgba(67,20,28,1) 0%, rgba(70,39,108,1) 100%);
  // display: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.title {
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  text-align: center;
  padding-top: 28px;
  font-size: 36px;
}

.subtitle {
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  padding-top: 28px;
  font-size: 32px;
}

.navbar {
  background-color: transparent;
}

// <!-- Homepage elements -->
.bandwizardtitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: white;

}

.bandwizardtitle span {
  font-weight: bold;
}

.bandwizardslogan {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.link-to-text-color{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;

}

.link-to-text-color:hover {
  text-decoration: none;
  color: #46276C
}

.searchbutton {
  padding: 16px 0px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  background: #4FB986;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
button.searchbutton {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.findbutton {
  text-align: center;
}

.logintitle {
  color: white;
  text-align: center;
}
