@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  /*background: rgb(67,20,28);*/
  background: linear-gradient(160deg, rgba(67,20,28,1) 0%, rgba(70,39,108,1) 100%);
  // display: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

html, body {
  height: 100%;
  width: 100%;
 /* overflow: hidden;*/
}


.home-flex {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.home-container {
  height: 600px;
  width: 100%;
}

.seperator {
  padding-bottom: 2%;
}

.title {
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  text-align: center;
  font-size: 36px;
}

.subtitle {
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 32px;
/*}*/
}

// <!-- Homepage elements -->
.bandwizardtitle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: white;

}

.bandwizardtitle span {
  font-weight: bold;
}

.bandwizardslogan {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.link-to-text-color{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: block;

}

.link-to-text-color:hover {
  color: white;
}

.searchbutton {
  padding: 16px 0px;
  border-radius: 4px;
  border: none;
  text-align: center;
  background: #4FB986;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  min-width: 280px;
  width: 60%;
  max-width: 480px;
  margin: 0 auto;
}

.searchbutton:hover {
  background-color: #53eda3;
}

.findbutton {
  text-align: center;
}

#first-button {
  margin-bottom: 20px;
  margin-top: 8px;
}

.logintitle {
  color: white;
  text-align: center;
}
