.morefilters {
  text-align: center;
  font-family: 'Roboto:700', sans-serif;
  font-size: 20px;
}

.extrafilters {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin: 10px;
}


