.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin-left: 20px;
  color: white !important;
}

.nav-item a {
  font-size: 20px;
}

.hamburger {
}


.top-navbar {
  height: 20vh;
  position: sticky;
  top: 0px;
  z-index: 100000;
  background: linear-gradient(to-bottom, #3D1820 100%, #3E1924 80%, #3E1B2E, 0%);
}

.red-top {
  background: linear-gradient(to bottom, #3D1820, rgba(62, 27, 46, 1));
}

.faded-top {
  background-image: linear-gradient(to bottom, rgba(62, 27, 46, 1), rgba(62, 27, 46, 0));
}

