.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin-left: 20px;
  color: white !important;
}

.nav-item a {
  font-size: 20px;
}

.hamburger {

}


.top-navbar {
  height: 104px;
}
