
.navbar {
  width: 100vw;
  height: 20vh;
  position: sticky;
  padding: 0;
  top: 0px;
  z-index: 1000000;
/*  background: linear-gradient(160deg, #3D1820 100%, #3E1924 80%, #3E1B2E, 0%);
*/

}
.opaque-to-transparent {

  background-image: url("navbar-background");
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95)  50%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  width: 100%;
}



.nav-link {
  margin-left: 20px;
  color: white !important;
}

.nav-item a {
  font-size: 20px;
}
