// .container {

// }

.searchform {
  text-align: center;
  width: 90%;
}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.level {
  color: white;
  text-align: center;
}

.opento {
  color: white;
  text-align: center;
}

.jamming {
  margin-top: 20px;
}

.slidecontainer {
  margin: 32px auto;
  width: 10px;
}

#slide.slider {
  width: 100%;
}
.range-labels {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

#double-slider {
  width: 400px;
  margin-bottom: 50px;
}

.margin p {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.genderp {
  color: white;
  font-size: 19px;
}
.opento {
  color: white;
  font-size: 19px;
}

.ap-input, .ap-hint {
  border-radius: 4px;
}

#current-position {
  cursor: pointer;
}
