.searchform-container {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchform {
  width: 90%;
  max-width: 640px;
  padding: 0px;
}

.dropdown-container {
  width: 92%;
  margin: 0 auto;
/*  display: flex;
  justify-content: center;*/
}

#exampleFormControlSelect1 {
  border-radius: 50px;
  width: 100% !important;
}

.select2-container--default {
  max-width: 100% !important;
  width: 100% !important;
  display: flex;
  justify-content: center;

}
.select2-selection--single {
  min-width: 100% !important;
  width: 100% !important;
}



.col-md-6 {
  max-width:: 100%;
}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  // margin-top: 20px;

}

.level {
  color: white;
  text-align: center;
}

.opento {
  color: white;
  text-align: center;
}

.jamming {
  margin-top: 20px;
}

.slidecontainer {
  margin: 32px auto;
  width: 10px;
}

.distance {
  margin-top: -40px;
  margin-bottom: 4px;
}
#slide.slider {
  width: 100%;
}
.range-labels {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 60px;
}

.experience {
  margin-bottom: 25px;
}
#double-slider {
  width: 400px;
  margin-bottom: 50px;
}

.margin p {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.genderp {
  color: white;
  font-size: 19px;
}
.opento {
  color: white;
  font-size: 19px;
}

.ap-input, .ap-hint {
  border-radius: 4px;
}

#current-position {
  cursor: pointer;
}

.bandsearchbtn {
  margin-bottom: 50px;
}
