.container {
  margin-top: 65px;
}

.searchform {
  text-align: center;
  width: 90%;
}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.level {
  color: white;
  text-align: center;
}

.opento {
  color: white;
  text-align: center;
}

.jamming {
  margin-top: 20px;
}
