.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  // outline: 1px solid #4FB986;
  // outline-radius: 50%;
  // outline-offset: 6px;
  background: #4FB986; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  // position: relative;
  border: 5px solid rgb(153, 153, 153);
  box-shadow: 0px 0px 0px 3px #4FB986;

}



.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #6f42c1; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


.spanslide{

  color: white;
  font-size: 12px;
  }

