.all-filters{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-input {
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.55);
  border-radius: 50px;
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
  height: 36px;

  label {
    padding: 6px 16px;
    margin: 0;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 18px;
  }

}

// .filter-input:hover {
//   background-color: #9376E2;
// }


.filter-input.active {
  background: #745DC6;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  // border: 1px solid white;
}
