// .userphoto {
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   display: flex;
//   width: px;
// }

.banner {
  background-size: cover;
  background-position: center;
  max-width: 100%;

}
