.userbanner {
  background-color: white;
  height: 60px;
  display: flex;
  align-content: center;
  font-family: 'Roboto:700', sans-serif;
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-start;
  align-items: center;
}
